<%- include('./partials/header.ejs'); %>
    <%- include('./partials/navbar.ejs'); %> 


    <div class="container">
        <h1>PAGINA DA PERGUNTA</h1>
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <h6><%= pergunta.descricao %></h6>
        <hr>
    </div>



<%- include('./partials/header.ejs'); %>     